h2 {
  color: FireBrick;
  font-size: 2vw;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 7vw;
  margin-left: 34vw;
}

p {
  color: FireBrick;
  width: 50vw;
  position: absolute;
  left: 15%;
}

.white {
  max-width: 25vw;
  max-height: 20vw;
}
