.maintitle {
  color: FireBrick;
  font-size: 2vw;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 7vw;
  margin-left: 34vw;
}

.mainp {
  color: FireBrick;
  width: 50vw;
  position: absolute;
  left: 15%;
}

.white {
  max-width: 25vw;
  max-height: 20vw;
  margin-top: 13vw;
  margin-left: 10vw;
}

.veteransday {
  max-width: 25vw;
  max-height: 30vw;
  margin-left: 15vw;
}

footer {
  margin-top: 5vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: FireBrick;
}
