.achievements {
  position: absolute;
  flex: auto;
  top: 7vw;
  color: FireBrick;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  width: 39vw;
  word-wrap: break-word;
}

.SE {
  border: 12.5px Double FireBrick;
  border-width: fit-content;
  background-color: gainsboro;
  width: 40vw;
}

.allwest {
  border: 12.5px Double FireBrick;
  border-width: fit-content;
  background-color: gainsboro;
  width: 40vw;
  padding: 5px;
  position: relative;
  float: right;
}

.allstate {
  border: 12.5px Double FireBrick;
  border-width: fit-content;
  background-color: gainsboro;
  width: 40vw;
  padding: 5px;
}

.concertfestival {
  border: 12.5px Double FireBrick;
  border-width: fit-content;
  background-color: gainsboro;
  width: 40vw;
  padding: 5px;
}

.state {
  border: 12.5px Double FireBrick;
  border-width: fit-content;
  background-color: gainsboro;
  width: 40vw;
  padding: 5px;
}

.JSYO {
  border: 12.5px Double FireBrick;
  border-width: fit-content;
  background-color: gainsboro;
  width: 40vw;
  padding: 5px;
}
