.achievements {
  position: absolute;
  flex: auto;
  top: 7vw;
  color: FireBrick;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  width: 39vw;
  word-wrap: break-word;
}

.first{
  border: 12.5px Double FireBrick;
border-width: fit-content;
background-color: gainsboro;
width:40vw;
display: inline-block;


}
.second {
  border: 12.5px Double FireBrick;
  border-width: fit-content;
  background-color: gainsboro;
  position: relative;
  float:right;
  display: inline-block;
  margin-right: 5vw;
}
.allwest {
  height: 23vw;
  width: 38vw;
  margin-right: 10vw;
  margin-left: 2vw;



}
.concertfestival {
  height: 23vw;
  width: 38vw;
  margin-right: 5vw;
  margin-left: 3vw
}
