
.responsiveCal {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.responsiveCal iframe {
  position: absolute;
  top: 15vw;
  left: 10vw;
  width: 75vw;
  height: 55vw;
  bottom: 5vw;
}

.calendarTitle {
    font-family: Arial,sans-serif;
    font-weight: bold;
    padding-left: 2px;
    color: white;
}
