
.responsiveCal {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.responsiveCal iframe {
  position: absolute;
  top: 15vw;
  left: 10vw;
  width: 75vw;
  height: 55vw;
  bottom: 5vw;
}
