.responsiveCal {
  position: relative;
}

.responsiveCal iframe {
  position: absolute;
  top: 15vw;
  left: 10vw;
  width: 75vw;
  height: 55vw;
  bottom: 4vw;
}

#calendarTitle {
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding-left: 2px;
  color: white;
}
