h2 {
  position: absolute;
  top: 7vw;
  left: 50%;
  font-size: 3vw;
  font-style: italic;
  color: FireBrick;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.collage {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  height:20vw;
  width:30vw;
}
