p {
  width: 40vw;
  word-wrap: break-word;
}

.upcoming {
  border: 12.5px Double FireBrick;
  border-width: fit-content;
  background-color: gainsboro;
  width: 40vw;
  position: relative;
  top: 3vw;
  left: 2vw;
}
.veteransday {
  width: 30vw;
  height: 20vw;
  position: relative;
  float: right;
  bottom: 25vw;
  right: 5vw;
}
.concertfestival{
  width: 30vw;
  height: 20vw;
  position: relative;
  bottom: 15vw;
}
.recent {
  border: 12.5px Double FireBrick;
  border-width: fit-content;
  background-color: gainsboro;
  width: 40vw;
  position: relative;
  float: right;
}
