p {
  width: 40vw;
  word-wrap: break-word;
}

.upcoming {
  border: 12.5px Double FireBrick;
  border-width: fit-content;
  background-color: gainsboro;
  width: 40vw;
  position: relative;
  top: 3vw;
  left: 2vw;
}

.veteransday {
  height: 20vw;
  width: 30vw;
  position: relative;
  float: right;
  bottom: 20vw;
  right: 5vw;
}

.concertfestival {
  height: 20vw;
  width: 30vw;
  margin-top: 25vw;
  float: left;
  white-space: nowrap;
  overflow-x: auto;
}

.recent {
  border: 12.5px Double FireBrick;
  border-width: fit-content;
  background-color: gainsboro;
  width: 40vw;
  display: inline-block;
  margin-left: 20vw;
}
