p {
  width: 40vw;
  word-wrap: break-word;
}

.upcoming {
  border: 12.5px Double FireBrick;
  border-width: fit-content;
  background-color: gainsboro;
  width: 40vw;
}

.recent {
  border: 12.5px Double FireBrick;
  border-width: fit-content;
  background-color: gainsboro;
  width: 40vw;
  position: relative;
  float: right;
}
