.jazz {
  position: absolute;
  top: 7vw;
  color: FireBrick;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  color: FireBrick;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
