.jazz {
  position: absolute;
  top: 7vw;
  color: FireBrick;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  color: FireBrick;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jazz {
  width: 50vw;
  text-align: center;
  margin-left: 25vw;
  margin: right;
}

.louis {
  width: 20vw;
  height: 20vw;
  margin-top: 5vw;
}
