body {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron {
  background-color: Firebrick;
  background-attachment: fixed;
}

h1,
h3,
.navbar,
.upcoming,
.recent {
  font-family: "Palatino";
  color: lightgrey;
}

h1 {
  position: absolute;
  right: 50px;
  color: lightgrey;
}

.navbar {
  padding-top: 50px;
}

.navbar a {
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid lightgrey;
  padding-left: 1px;
  padding-right: 1px;
}

a:visited {
  color: lightgrey;
}

a {
  text-decoration: none;
}
