body {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron {
  background-color: ;
  background-attachment: fixed;
}

h1,
h3,
.navbar,
.upcoming,
.recent {
  font-family: "Palatino";
  color: FireBrick;
}

h1 {
  position: absolute;
  right: 50px;
  color: lightgrey;
}


.nav {
    display: flex;
    width: 70%;
    background: Firebrick;
    height: 2rem;
    justify-content: center;
    align-items: vercenter;
    -webkit-box-shadow: 0px 0px 55px 8px FireBrick;
    -moz-box-shadow: 0px 0px 55px 8px FireBrick;
    box-shadow: 0px 0px 55px 8px FireBrick;
    border: 1px solid FireBrick;
    border-radius: 25px;
    position:fixed;
}

.main-nav-box {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-self: stretch;

}

.main-nav-item {
    list-style: none;
    /* background: red; */
}

.main-nav-link:link,
.main-nav-link:visited {
    text-decoration: none;
    color: lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
    position:relative;

    /* background: red; */
}

.main-nav-link::before {
    content: '';
    width: 100%;
    height: 3px;
    text-align: center;
    background: rgb(251, 255, 0);
    position: absolute;
    top: 12px;
    left: 0;
    transform: scaleX(0);


    transition: transform .3s .2s cubic-bezier(1,0,0,1);

    transform-origin: left 5px;
}

.main-nav-link:hover::before {
    transform: scaleX(1);
}






.navbar a {
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid lightgrey;
  padding-left: 1px;
  padding-right: 1px;
}

a:visited {
  color: lightgrey;
}

a {
  text-decoration: none;
}
.stuff {
  position: absolute;
  top: 100px;
}
